aiobotocore
dagster
dagit
dagster-aws
dagster-dbt
dagster-pandas
dagster-pyspark
dagster-slack
dagster-postgres
dbt-core
dbt-duckdb
dbt-snowflake
#duckdb!=0.3.3 <= 6.0.0  # missing wheels
mock
duckdb
pandas<1.4.0
pyarrow>=4.0.0
pyspark
requests
gcsfs
fsspec
s3fs
scipy
scikit-learn
sqlalchemy!=1.4.42 
# workaround for https://github.com/snowflakedb/snowflake-sqlalchemy/issues/350
snowflake-sqlalchemy
dagster_duckdb
dagster_duckdb_pandas
dagster_snowflake
dagster_duckdb_pyspark
dagster_snowflake_pandas
dagster_snowflake_pyspark
dagster_duckdb_pyspark
dask[distributed]
dagster-dask